@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}


<   <!---Header with my preferred name-->
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Selassie Esiape</span>
            <span class="site-heading-lower">Mission Assignment 4</span>
        </h1>
    </header>
    <!--Creating a section with what i love to do with a picture attached-->
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/IMG_8537.jpg" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">What I love!</span>
                        <span class="section-heading-lower">Go Karting!</span>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!--A paragraph on what you hope to get out of this IS 413 class-->
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">What I hope to get out of IS413</span>
                            <span class="section-heading-lower"></span>
                        </h2>
                        <p class="mb-0">
                            In order to create dynamic and scalable web apps, I want to have
                            practical grasp of ASP.NET MVC Core / C# and React. My goal is to master the usage
                            of ASP.NET MVC Core and React to create effective and advanced web-based
                            business apps. I'm keen to learn more and broaden my expertise in web development.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--A list of the Top #3 jobs you are most interested in pursuing when you graduate -->
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Top 3 Dream Jobs after I graduate!</span>
                            <span class="section-heading-lower"></span>
                        </h2>
                        <ul>
                            <li class="heart">Information Security Analyst</li>
                            <li class="heart">Cyber Security Engineer</li>
                            <li class="heart">Data Analyst</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

